/*** Title : ***/

* {
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
    font-family: font-0, sans-serif;
    text-align: center;
    margin-top: 15px;
    font-size: 45px;
    color: black;
    background-color: lightcoral;
    border-radius: 1.5rem;
    height: 60%;
    width: 60%;
    margin-left: 20%;
    box-shadow: 7px 9px red;
}

body {
	background: lightblue;
}

/*** Body ***/

#img_parent {
	position: relative;
}

#lutte_img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    margin-top: -300px;
	border-radius: 25px;
}

#text_lutte {
	font-size: large;
	margin-top: 600px;
	margin-left: 200px;
	margin-right: 200px;
	background-color: lightcoral;
	text-align: center;
	border-radius: 15px;
	box-shadow: 7px 9px red;
}

#question {
	text-transform: uppercase;
}

#list_text {
	color: rgb(80, 76, 76);
}

#sign {
	text-align: start;
	margin-left: 35px;
	margin-top: -10px;
}
